<div>

<div class="modal fade" id="saveStockTradingProfitModal" tabindex="-1" role="dialog" aria-labelledby="myStockTradingProfitLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editForm" role="form"  novalidate ng-submit="save(stockTradingProfit.id)" show-validation>

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myStockTradingProfitLabel" translate="bigstockApp.stockTradingProfit.home.createOrEditLabel">Create or edit a StockTradingProfit</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.creationDate">CreationDate</label>
                        <div class="col-sm-10">
                        	<input type="date" class="form-control" name="creationDate" placeholder="yyyy-MM-dd"
                               ng-model="stockTradingProfit.creationDate" required>
			</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.code">Code</label>
                        <div class="col-sm-10">
                        	<input type="text" class="form-control" name="code"
                               ng-model="stockTradingProfit.code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.name">Name</label>
                        <div class="col-sm-10">
                        	<input type="text" class="form-control" name="name"
                               ng-model="stockTradingProfit.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.market">Market</label>
                       	<div class="col-sm-10">
                        	<select name="market" class="form-control" ng-model="stockTradingProfit.market" required>
                        		<option value="Hong Kong" selected>{{"bigstockApp.stockTradingProfit.marketOption.HK" | translate }}</option>
                        		<option value="Shen Zhen">{{"bigstockApp.stockTradingProfit.marketOption.SZ" | translate }}</option>
                        		<option value="Shang Hai">{{"bigstockApp.stockTradingProfit.marketOption.SH" | translate }}</option>
                        	</select>
                     </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.currency">Currency</label>
                        <div class="col-sm-10">
                         <select name="currency" class="form-control" ng-model="stockTradingProfit.currency" required>
                        		<option value="HKD" selected>{{"bigstockApp.stockTradingProfit.currencyOption.HKD" | translate }}</option>
                        		<option value="CNY">{{"bigstockApp.stockTradingProfit.currencyOption.CNY" | translate }}</option>
                        	</select>
                        </div>
                               
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.quantity">Quantity</label>
                        <div class="col-sm-10">
                         <input type="number" class="form-control" name="quantity"
                                ng-model="stockTradingProfit.quantity" required>
                        </div>
                        <div ng-show="editForm.quantity.$invalid">
                            <p class="help-block"
                               ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.buyPrice">BuyPrice</label>
                        <div class="col-sm-10">
                        <input type="number" class="form-control" name="buyPrice"
                               ng-model="stockTradingProfit.buyPrice" required>
                        </div>
                        <div ng-show="editForm.buyPrice.$invalid">
                            <p class="help-block"
                               ng-show="editForm.buyPrice.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.sellPrice">SellPrice</label>
                        <div class="col-sm-10">
                         <input type="number" class="form-control" name="sellPrice"
                                ng-model="stockTradingProfit.sellPrice" required>
			</div>
                        <div ng-show="editForm.sellPrice.$invalid">
                            <p class="help-block"
                               ng-show="editForm.sellPrice.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.buyTransactionFee">BuyTransactionFee</label>
                        <div class="col-sm-10">
                         <input type="number" class="form-control" name="buyTransactionFee"
                                ng-model="stockTradingProfit.buyTransactionFee" required>
			</div>
                        <div ng-show="editForm.buyTransactionFee.$invalid">
                            <p class="help-block"
                               ng-show="editForm.buyTransactionFee.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" translate="bigstockApp.stockTradingProfit.sellTransactionFee">SellTransactionFee</label>
                        <div class="col-sm-10">
                         <input type="number" class="form-control" name="sellTransactionFee"
                                ng-model="stockTradingProfit.sellTransactionFee" required>
			</div>
                        <div ng-show="editForm.sellTransactionFee.$invalid">
                            <p class="help-block"
                               ng-show="editForm.sellTransactionFee.$error.number" translate="entity.validation.number">
                                This field should be a number.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

	<h2>
		{{stockTradingProfit.name}}
		<button type="submit" ng-click="update(stockTradingProfit.id)"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
				translate="entity.action.edit"> Edit</span>
		</button>
		<button type="submit" ng-click="delete(stockTradingProfit.id)"
			class="btn btn-danger">
			<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
				translate="entity.action.delete"> Delete</span>
		</button>
	</h2>

	<div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><span
						translate="bigstockApp.stockTradingProfit.creationDate">CreationDate</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.creationDate | date:'yyyy-MM-dd'}}" readonly></td>
					<td><span translate="bigstockApp.stockTradingProfit.code">Code</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.code}}" readonly></td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.name">Name</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.name}}" readonly></td>
					<td><span translate="bigstockApp.stockTradingProfit.market">Market</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.market}}" readonly></td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.buyPrice">BuyPrice</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.buyPrice}}" readonly></td>
					<td><span
						translate="bigstockApp.stockTradingProfit.buyTransactionFee">BuyTransactionFee</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.buyTransactionFee}}" readonly>
					</td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.sellPrice">SellPrice</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.sellPrice}}" readonly></td>
					<td><span
						translate="bigstockApp.stockTradingProfit.sellTransactionFee">SellTransactionFee</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.sellTransactionFee}}" readonly>
					</td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.quantity">Quantity</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.quantity}}" readonly></td>
					<td><span
						translate="bigstockApp.stockTradingProfit.buyConsideration">BuyConsideration</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.buyConsideration}}" readonly>
					</td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.currency">Currency</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.currency}}" readonly></td>
					<td><span
						translate="bigstockApp.stockTradingProfit.sellConsideration">SellConsideration</span>
					</td>
					<td><input type="text" class="input-sm form-control"
						value="{{stockTradingProfit.sellConsideration}}" readonly>
					</td>
				</tr>
				<tr>
					<td><span translate="bigstockApp.stockTradingProfit.profit">Profit</span>
					</td>
					<td><input type="text" 
						class=" input-la form-control" value="{{stockTradingProfit.profit}}" 
						ng-class="{true:'form-profit-win', false:'form-profit-lose'}[stockTradingProfit.profit>=0]" readonly></td>
				</tr>
			</tbody>
		</table>
	</div>

	<button type="button" ng-click="goBack()" class="btn btn-info">
		<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span
			translate="entity.action.back"> Back</span>
	</button>

	<div class="modal fade" id="deleteStockTradingProfitConfirmation">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="deleteForm"
					ng-submit="confirmDelete(stockTradingProfit.id)">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" translate="entity.delete.title">Confirm
							delete operation</h4>
					</div>
					<div class="modal-body">
						<p translate="bigstockApp.stockTradingProfit.delete.question"
							translate-values="{id: '{{stockTradingProfit.id}}'}">Are you
							sure you want to delete this StockTradingProfit?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
								translate="entity.action.cancel">Cancel</span>
						</button>
						<button type="submit" ng-disabled="deleteForm.$invalid"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
								translate="entity.action.delete">Delete</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
